/* Adicionar aqui toda a estilização criada para sua aplicação. */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.header {
   border-bottom: 4px solid #32b9cd;
   background-color: black;
   padding: 25px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.titulo {
    color:#32b9cd;
    font-size: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    color:burlywood ;
    margin-left: 50px;
}
.agora {
    font-weight:bold;
    color: burlywood;
    list-style: none;
}

a {
    text-decoration: none;
    color: burlywood;
}

.banner {
    background-image: url("/public/assets/imgs/bg-jelly-fish-para-home.png");
    background-size:auto;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.banner span {
    font-weight: 700;
}

.banner p {
    margin-right: 150px;
    font-weight: lighter;
}

.social {
    background-color: rgb(233, 230, 225);

}

img {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.box h4 {
   color: mediumvioletred;
   font-weight: 800;
   margin-bottom: 40px;
}

.footer {
    background-color: #32b9cd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 60px;
    padding-top: 30px;
    flex-direction: column;
}

h4{
   font-weight: lighter;
}

