/* Adicionar aqui toda a estilização criada para sua aplicação. */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.header {
    border-bottom: 4px solid #32b9cd;
    background-color: black;
    padding: 25px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    color: #32b9cd;
    font-size: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    color: burlywood;
    margin-left: 50px;
}

.agora {
    font-weight: bold;
    color: burlywood;
    list-style: none;
}

a {
    text-decoration: none;
    color: burlywood;
}

.banner {
    background-image: url("/public/assets/imgs/bg-jelly-fish-para-home.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.banner span {
    font-weight: 700;
}

.banner p {
    margin-right: 150px;
    font-weight: lighter;
}

.social {
    background-color: rgb(233, 230, 225);
    padding-bottom: 20px;
    padding-top: 20px;

}

img {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.box h4 {
    color: mediumvioletred;
    font-weight: 800;
    margin-bottom: 40px;
}

.footer {
    background-color: #32b9cd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 30px;
    flex-direction: column;
}

h4 {
    font-weight: lighter;
}

.login {
    background-image: url("/public/assets/imgs/bg-jelly-fish-para_outras_pags.png");
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    background-color: rgb(231, 230, 230);
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-cadastro h2 {
    font-weight: bold;
    color: palevioletred;
    text-align: center;
    margin-bottom: 10px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo span {
    font-weight: bold;
    color: palevioletred;
    font-size: 12px;
}

input {
    width: 450px;
    height: 30px;
    border: #32b9cd 2px solid;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

button {
    align-self: center;
    background-color: rgb(237, 9, 93);
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    border: none;
    margin-top: 10px;
}

.card-login {
    background-color: rgb(231, 230, 230);
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-login h2 {
    font-weight: bold;
    color: palevioletred;
    text-align: center;
    margin-bottom: 10px;
}